<div id="alertDialogError" style="display: none;">
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        <strong class="errorTitle">Oh snap!</strong>&nbsp;&nbsp; <span class="errorMsg">Change
            a few things up and try submitting again.</span>
    </div>
</div>
<div id="alertDialogSuccess" style="display: none;">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
        <strong class="successTitle">Well done!</strong>&nbsp;&nbsp; <span class="successMsg">
            You successfully read this important alert message.</span>
    </div>
</div>
