<div class="row-fluid">
    <div class="span6">
        <input type="radio" name="rbConsumptionType" id="rbAvgConsumption" value="1" title="Average Daily Consumption" checked="checked" />
        Average Daily Consumption
    </div>
    <div class="span6">
        <input type="radio" name="rbConsumptionType" id="rbMaxConsumption" title="Maximum Daily Usage" value="2" />
        Maximum Daily Usage
    </div>
</div>
