@{
    ViewBag.Title = "TankGroupUser";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
<table id="tblGrid">
</table>
<div id="pager">
</div>
@section scripts {
    @(Html.Grid("tblGrid")
    .SetCaption("Assign User to Group")
    .AddColumn(new Column("Action").SetCustomFormatter("buttonize").SetWidth(75).SetSearch(false))
    .AddColumn(new Column("groupid").SetLabel("groupid").SetHidden(true).AddClass("Hide"))
    .AddColumn(new Column("groupname").SetLabel("Group Name"))
    .AddColumn(new Column("username").SetLabel("User Name"))
    .AddColumn(new Column("webuserid").SetLabel("webuserid").SetHidden(true).AddClass("Hide"))
    .AddColumn(new Column("emailaddress").SetLabel("Email"))
    .SetUrl(Url.Action("GridDataTankGroupUser", "DMS"))
    .SetPager("pager")
    .SetHeight(290)
    .SetWidth(360)
    .SetSortName("groupname"))
    <script type="text/javascript">

        $(document).ready(function () {

            try {
                var tool = "<ul class='nav nav-pills'>" +
                                "<li><a onclick=\"AddItem();\" title='Add New' href='#'>Add New</a></li>" +
                                "<li><a onclick=\"DeleteSelectedItem();\" title='Delete Multiple Item' href='#'>Delete</a></li>" +
                                "<li class='dropdown'><a title='Export' class='dropdown-toggle' data-toggle='dropdown' href='#'>Export <b class='caret'></b></a>" +
                                    "<ul class='dropdown-menu'>" +
                                        "<li><a onclick=\"ExportTankGroupUser('PDF');\" title='PDF' href='#'>PDF</a></li>" +
                                        "<li><a onclick=\"ExportTankGroupUser('CSV');\" title='CSV' href='#'>CSV</a></li>" +
                                        "<li><a onclick=\"ExportTankGroupUser('Excel');\" title='Excel' href='#'>Excel</a></li>" +
                                         "<li><a onclick=\"ExportTankGroupUser('Word');\" title='Word' href='#'>Word</a></li>" +
                                         "<li><a onclick=\"PrintTankGroupUser();\" title='Print' href='#'>Print</a></li>" +
                                    "</ul>" +
                                "</li>" +
                            "</ul>";

                // enable tool bar in grid
                $('#t_tblGrid').append(tool);

                //frozen or lock the columns
                $("#tblGrid").jqGrid('setColProp', 'Action', { frozen: true });
                jQuery("#tblGrid").jqGrid('setFrozenColumns');

                //load complete event hanlder - no record found-search
                LoadComplete('tblGrid');

                //hide and show column option - runtime
                GridColumnChooser('tblGrid');

                ReloadGrid('tblGrid');

            }
            catch (e) {
                ScriptError(e);
            }

        });

        function buttonize(cellvalue, options, rowobject) {
            return "<ul class='the-icons'>" +
                        "<li title='Delete' onclick=\"DeleteItem(" + cellvalue + ");\"><i class='icon-remove'></i></li>" +
                        "<li title='Edit' onclick=\"EditItem(" + cellvalue + ");\"><i class='icon-edit'></i></li>" +
                    "</ul>"
        }

        function ExportTankGroupUser(exportType) {

            GenerateExportParam('tblGrid');
            exportGrid.ExportType = exportType;

            var form = $('<form></form>');
            $('body').append(form);
            form.attr('action', '/DMS/DMS/ExportTankGroupUser' + '?model=' + JSON.stringify(exportGrid));
            form.attr('method', 'POST');
            form.submit();
        }

        function PrintTankGroupUser() {

            //build the param 
            GenerateExportParam('tblGrid')

            $.post("PrintTankGroupUser",
            {
                model: JSON.stringify(exportGrid)
            },
            function (data) {
                try {
                    if (data == "") {
                        AlertError('Could not able to Print, please try again');
                        return;
                    }

                    var printWin = window.open('', '', 'left=0" ,top=0,width=1000,height=600,status=0');
                    printWin.document.write(data);

                    printWin.document.close();
                    printWin.focus();
                    printWin.print();
                    printWin.close();

                }
                catch (e) {
                    ScriptDialogError(e);
                }

            }
        );

        }

        // Dialog - Delete Entry
        function DeleteItem(prmId) {
            Confirmation('Are you sure to delete?', prmId);
        }

        //delete selected item
        function DeleteSelectedItem() {
            //get selected rows
            var selMulti = $.map($('#tblGrid').jqGrid('getGridParam', 'selarrrow'), function (el, i) {
                return el;
            });
            if (selMulti.length > 0)
                DeleteItem(selMulti.toString());
            else
                AlertMsg('Please select the Item');
        }

        // Dialog Modal - Add New Entry
        function AddItem() {
            try {
                // clear edit and add view
                ClearDialog();

                // Dialogs window for add
                $("#dialog-add").dialog({
                    title: 'Assign User to Group',
                    autoOpen: false,
                    resizable: true,
                    width: 600,
                    height: 400,
                    position: 'center',
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $.post("CreateTankGroupUser", {},
                                function (data) {
                                    try {
                                        if (data == "") {
                                            CloseDialog();
                                            AlertError('Page could not load, please try again');
                                            return;
                                        }

                                        //render the pop-up window
                                        $('#dialog-add').html(data.view);
                                    }
                                    catch (e) {
                                        ScriptDialogError(e);
                                    }
                                }
                            );
                    },
                    close: function (event, ui) {
                        CloseDialog();
                    }
                });

                //open dialog
                OpenDialog();
                return false;

            }
            catch (e) {
                ScriptError(e);
            }
        }

        // Dialog - Edit Entry
        function EditItem(prmId) {
            try {
                // clear edit and add view
                ClearDialog();

                // dialgo window for edit
                $("#dialog-add").dialog({
                    title: 'Assign User to Tank',
                    autoOpen: false,
                    resizable: true,
                    width: 600,
                    height: 400,
                    position: 'center',
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {

                        $.post("EditTankGroupUserId",
                                {
                                    iTankGroupUserId: prmId
                                },
                                function (data) {
                                    try {
                                        if (data == "") {
                                            CloseDialog();
                                            AlertError('Page could not load, please try again');
                                            return;
                                        }

                                        $('#dialog-add').html(data.view);

                                        //Do something with the data returned.
                                        $('#hdnTankGroupUserId').val(data.model.tankusergroupid);
                                        $('#ddlGroup').val(data.model.groupid).change();
                                        $('#ddlUser').val(data.model.webuserid).change();

                                    }
                                    catch (e) {
                                        ScriptDialogError(e);
                                    }

                                }
                            );
                    },
                    close: function (event, ui) {
                        CloseDialog();
                    }
                });

                //open dialog
                OpenDialog();
                return false;

            }
            catch (e) {
                ScriptError(e);
            }
        }

        // add and edit item
        function CreateEditTankGroupUser(command) {
            try {

                model.customerid = $('#hdnCustomerId').val(); 
                model.tankusergroupid = $('#hdnTankGroupUserId').val();
                model.groupid = $('#ddlGroup').val();
                model.webuserid = $('#ddlUser').val();

                //Pass it to a controller method
                $.post("CreateEditTankGroupUser",
                {
                    viewModel: JSON.stringify(model),
                    sCommand: command
                },
                function (data) {

                    if (data.result == "fail") {
                        CloseDialog();
                        AlertError(data.message);
                        return;
                    }

                    //refress the grid again
                    ReloadGrid('tblGrid');

                    if (command == 'Add') {
                        ClearForm();
                        AlertDialogSuccess(data.message);
                    }
                    else {
                        CloseDialog();
                        AlertMsg(data.message);
                    }

                });
            }
            catch (e) {
                ScriptDialogError(e);
            }
        }

        //clear the form fields
        function ClearForm() {
            try {

                //clear hidden ctrl = 0
                $('#tankTankGroupUserForm input[type=hidden]').each(function () {
                    $(this).val('0');
                });

                //drop down controls
                $('#tankTankGroupUserForm select').each(function () {
                    $(this)[0].selectedIndex = 0;
                    $(this).change();
                });
            }
            catch (e) {
                ScriptDialogError(e);
            }
        }

        

        // status - true - click yes, false - click no
        function CallbackConfirmation(status, prmId) {
            if (status) {
                $.post('DeleteTankGroupUser', { iTankGroupUserId: prmId }, function (data) {

                    if (data.result == "fail") {
                        AlertError(data.message);
                        return;
                    }

                    //refress the grid again
                    ReloadGrid('tblGrid');
                    AlertMsg(data.message);
                });
            }
        }
    </script>
}
