@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
<table id="tblGrid">
</table>
<div id="pager">
</div>
@section scripts {
    @(Html.Grid("tblGrid")
    .SetCaption("Page Master")
    .AddColumn(new Column("Action")
    .SetCustomFormatter("buttonize")
    .SetWidth(75)
    .SetSearch(false)
    )
            //.AddColumn(new Column("menupageid").SetHidden(false))
            .AddColumn(new Column("customerid").SetHidden(true).AddClass("Hide"))
    .AddColumn(new Column("customername").SetLabel("Customer").SetSearchType(Searchtype.Select))
            .AddColumn(new Column("menuid").SetHidden(true).AddClass("Hide"))
    .AddColumn(new Column("menutitle").SetLabel("Menu Title"))

            .AddColumn(new Column("groupid").SetHidden(true).AddClass("Hide"))
    .AddColumn(new Column("grouptitle").SetLabel("Group Title"))

            .AddColumn(new Column("pageid").SetHidden(true).AddClass("Hide"))
    .AddColumn(new Column("pagetitle").SetLabel("Page Title"))

    .AddColumn(new Column("Description"))
    .AddColumn(new Column("Status").SetSearchType(Searchtype.Select).SetSearchTerms(new string[] { "1:Active", "0:Inactive" }))
    .AddColumn(new Column("orderpage").SetLabel("Order Page").SetAlign(Align.Right))
    .AddColumn(new Column("lastchangeduser").SetLabel("Last Changed User").SetWidth(200))
    .AddColumn(new Column("createddate").SetLabel("Created Date").SetWidth(200).SetSearchType(Searchtype.Datepicker).SetSearchDateFormat("mm/dd/yy"))
    .AddColumn(new Column("lastchangeddate").SetLabel("Last Changed Date").SetWidth(200).SetSearchType(Searchtype.Datepicker).SetSearchDateFormat("mm/dd/yy"))
    .SetUrl(Url.Action("GridDataMenuPage", "Admin"))
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new[] { 10, 15, 20, 50 })
    .SetViewRecords(true)
    .SetPager("pager")
                    .SetHeight(290)
    .SetWidth(400)
    .SetSearchToolbar(true)
    .SetSearchOnEnter(true)
    .SetSearchClearButton(true)
    .SetSearchToggleButton(true)
    .SetMultiSelect(true)
    .SetMultiBoxOnly(false)
    .SetMultiSelectWidth(40)
    .SetToolbar(true)
    .SetToolbarPosition(ToolbarPosition.Top)
    .SetHoverRows(true)
    .SetAltRows(true)
    .SetShrinkToFit(false)
    .SetSearchToggleButton(true)
    .SetSearchClearButton(true)
    .SetSearchOnEnter(true)
    .SetSearchToolbar(true)
    .SetSortName("customername")
)
    <script type="text/javascript">

        $(document).ready(function () {
            var tool = "<ul class='nav nav-pills'>" +
                            "<li><a onclick=\"AddMenuPage();\" title='Add New' href='#'>Add New</a></li>" +
                            "<li><a onclick=\"DeleteSelectedItem();\" href='#'>Delete</a></li>" +
                            "<li class='dropdown'><a title='Export' class='dropdown-toggle' data-toggle='dropdown' href='#'>Export <b class='caret'></b></a>" +
                                "<ul class='dropdown-menu'>" +
                                   "<li><a onclick=\"ExportMenuPage('PDF');\" title='PDF' href='#'>PDF</a></li>" +
                                      "<li><a onclick=\"ExportMenuPage('CSV');\" title='CSV' href='#'>CSV</a></li>" +
                                      "<li><a onclick=\"ExportMenuPage('Excel');\" title='Excel' href='#'>Excel</a></li>" +
                                      "<li><a onclick=\"ExportMenuPage('Word');\" title='Word' href='#'>Word</a></li>" +
                                      "<li><a onclick=\"PrintMenuPage();\" title='Print' href='#'>Print</a></li>" +
                                "</ul>" +
                            "</li>" +
                        "</ul>";

            // create tool bar in grid
            $('#t_tblGrid').append(tool);

            //frozen or lock the columns
            $("#tblGrid").jqGrid('setColProp', 'Action', { frozen: true });
            jQuery("#tblGrid").jqGrid('setFrozenColumns');

            //bind customers list to search
            var customer = '@Html.BindCustomers()';
            $("#gs_customername").html('<option value="">All</option>' + customer);

            //load complete event hanlder
            LoadComplete('tblGrid');

            //customer change event 
            $("#gs_customername").bind('change', function () {
                //selected customer id
                $('#hdnSelectedCustomerId').val($("#gs_customername").val());
            });

            //jqGrid hide column dynamically
            var CustomerId = $('#hdnCustomerId').val();
            if (CustomerId != '1')
                HideGridColumn('tblGrid', ['customername'])
            //$("#tblGrid").jqGrid('hideCol', ["customername"]);

            //hide and show column option - runtime
            GridColumnChooser('tblGrid');

            //refresh grid
            ReloadGrid('tblGrid');

        });

        //        function ExportPDF() {
        //            //alert('hi');
        //            //set manual parameters
        //            $('#tblGrid').setGridParam({ url: "/Admin/Admin/GridDataMenuPage?bExport=True"} );
        //            $('#tblGrid').trigger("reloadGrid");
        //        }

        function buttonize(cellvalue, options, rowobject) {
            return "<ul class='the-icons'>" +
                        "<li title='Delete' onclick=\"DeleteMenuPage(" + cellvalue + ");\"><i class='icon-remove'></i></li>" +
                        "<li title='Edit' onclick=\"EditMenuPage(" + cellvalue + ");\"><i class='icon-edit'></i></li>" +
                    "</ul>"
        }
        function ExportMenuPage(exportType) {

            GenerateExportParam('tblGrid');
            exportGrid.ExportType = exportType;

            var form = $('<form></form>');
            $('body').append(form);
            form.attr('action', '/Admin/Admin/ExportMenuPage' + '?model=' + JSON.stringify(exportGrid));
            form.attr('method', 'POST');
            form.submit();
        }

        function PrintMenuPage() {

            //build the param 
            GenerateExportParam('tblGrid')

            $.post("PrintMenuPage",
                                {
                                    model: JSON.stringify(exportGrid)
                                },
                                function (data) {
                                    try {
                                        if (data == "") {
                                            AlertError('Could not able to Print, please try again');
                                            return;
                                        }

                                        var printWin = window.open('', '', 'left=0" ,top=0,width=1000,height=600,status=0');
                                        printWin.document.write(data);

                                        printWin.document.close();
                                        printWin.focus();
                                        printWin.print();
                                        printWin.close();

                                    }
                                    catch (e) {
                                        ScriptDialogError(e);
                                    }

                                }
                            );

        }

        // Dialog Modal - Add New Entry
        function AddMenuPage() {
            try {
                // clear edit and add view
                ClearDialog();

                // Dialogs window for add
                $("#dialog-add").dialog({
                    title: 'Add New',
                    autoOpen: false,
                    resizable: true,
                    width: 800,
                    height: 600,
                    position: 'center',
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $.post("CreateMenuPage",
                            {},
                            function (data) {
                                try {
                                    if (data == "") {
                                        CloseDialog();
                                        AlertError('Page could not load, please try again');
                                        return;
                                    }

                                    $('#dialog-add').html(data.view);
                                    var CustomerId = $('#hdnSelectedCustomerId').val();
                                    $('#ddlCustomer').val(CustomerId).change();

                                }
                                catch (e) {
                                    ScriptDialogError(e);
                                }
                            }
                        );
                    },
                    close: function (event, ui) {
                        CloseDialog();
                    }
                });

                //open dialog
                OpenDialog();
                return false;
            }
            catch (e) {
                ScriptError(e);
            }
        }

        // Dialog - Edit Entry
        function EditMenuPage(pageId) {
            try {
                // clear edit and add view
                ClearDialog();

                // dialgo window for edit
                $("#dialog-add").dialog({
                    title: 'Edit',
                    autoOpen: false,
                    resizable: true,
                    width: 800,
                    height: 600,
                    position: 'center',
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {

                        $.post("EditMenuPageId",
                            {
                                iMenuPageId: pageId
                            },
                            function (data) {
                                try {
                                    if (data == "") {
                                        CloseDialog();
                                        AlertError('Page could not load, please try again');
                                        return;
                                    }
                                    $('#dialog-add').html(data.view);

                                    //Do something with the data returned.
                                    $('#hdnMenuPageId').val(data.model.MenuPageId);
                                    $('#ddlCustomer').val(data.model.CustomerId).change();

                                    $('#ddlMenu').val(data.model.MenuId).change();
                                    $('#ddlGroup').val(data.model.GroupId).change();
                                    $('#ddlPage').val(data.model.PageId).change();

                                    $('#txtPageTitle').val(data.model.PageTitle);
                                    $('#txtDesc').val(data.model.Description);

                                    if (data.model.Status == '1')
                                        $('#rbStatusActive').attr('checked', 'checked');
                                    else if (data.model.Status == '0')
                                        $('#rbStatusInActive').attr('checked', 'checked');

                                    $('#ddlOrderPage').val(data.model.OrderPage).change();

                                }
                                catch (e) {
                                    ScriptDialogError(e);
                                }
                            }
                        );
                    },
                    close: function (event, ui) {
                        CloseDialog();
                    }
                });

                //open dialog
                OpenDialog();
                return false;

            }
            catch (e) {
                ScriptError(e);
            }
        }

        // add and edit item
        function CreateEditMenuPage(command) {
            try {

                model.PageId = $('#hdnMenuPageId').val();
                model.CustomerId = $('#ddlCustomer').val();

                model.MenuId = $('#ddlMenu').val();
                model.GroupId = $('#ddlGroup').val();
                model.PageId = $('#ddlPage').val();


                model.PageTitle = $('#txtPageTitle').val();
                model.Description = $('#txtDesc').val();
                model.Status = $('input[name=rbStatus]:checked').val();
                model.OrderPage = $('#ddlOrderPage').val();

                //Pass it to a controller method
                $.post("CreateEditMenuPage",
                {
                    viewModel: JSON.stringify(model),
                    sCommand: command
                },
                function (data) {

                    if (data.result == "fail") {
                        CloseDialog();
                        AlertError(data.message);
                        return;
                    }

                    //refress the grid again
                    ReloadGrid('tblGrid');


                    if (command == 'Add') {
                        ClearMenuPageForm();
                        AlertDialogSuccess(data.message);
                    }
                    else {
                        CloseDialog();
                        AlertMsg(data.message);
                    }

                });  // post
            }
            catch (e) {
                ScriptDialogError(e);
            }
        }

        //clear the form fields
        function ClearMenuPageForm() {

            try {
                //reset to - selected customer
                $('#ddlCustomer').val($('#hdnSelectedCustomerId').val()).change();

                //clear hidden ctrl = 0
                $('#menuPageForm input[type=hidden]').each(function () {
                    $(this).val('0');
                });

                //clear text ctrl = 0
                $('#menuPageForm input[type=text]').each(function () {
                    $(this).val('');
                });

                //drop down controls
                $("#menuPageForm select[name != 'ddlCustomer']").each(function () {
                    $(this)[0].selectedIndex = 0;
                    $(this).change();
                });

                $('#rbStatusActive').attr('checked', 'checked');

            }
            catch (e) {
                ScriptDialogError(e);
            }
        }

        // Dialog - Delete Entry
        function DeleteMenuPage(pageId) {
            Confirmation('Are you sure to delete?', pageId);
        }

        //Delete selected item
        function DeleteSelectedItem() {
            //get selected rows
            var selMulti = $.map($('#tblGrid').jqGrid('getGridParam', 'selarrrow'), function (el, i) {
                return el;
            });
            if (selMulti.length > 0)
                DeleteMenuPage(selMulti.toString());
            else
                AlertMsg('Please select the Item');
        }
        function CallbackConfirmation(status, item) {

            if (status) // true - click yes, false - click no
            {
                $.post('DeleteMenuPage', { iMenuPageId: item }, function (data) {

                    if (data.result == "fail") {
                        AlertError(data.message);
                        return;
                    }

                    //refress the grid again
                    ReloadGrid('tblGrid');
                    AlertMsg(data.message);


                });

            }
        }

        function ChangeCustomer() {

            var customerid = ($('#ddlCustomer').val() == '') ? 0 : $('#ddlCustomer').val();

            $('#ddlGroup').html('');
            $('#ddlMenu').html('');
            $('#ddlOrderPage').html('');

            //append the group 
            $.post('/Home/BindGroup', { iCustomerId: customerid }, function (groups) {

                groups = '<option value="0">Select Group</option>' + groups;
                $('#ddlGroup').html(groups);
                $('#ddlGroup').change();

            });
            //append the menu 
            $.post('/Home/BindMenu', { iCustomerId: customerid }, function (menus) {

                menus = '<option value="">Select Menu</option>' + menus;
                $('#ddlMenu').html(menus);
                $('#ddlMenu').change();

            });

            //append the order
            $.ajax({
                type: 'POST',
                url: '/Home/BindMenuPageOrder',
                data: { iCustomerId: customerid },
                async: false,
                success: function (data) {
                    $('#ddlOrderPage').html(data).change();
                }
            });
        }

        function ChangePage() {

            var pageid = ($('#ddlPage').val() == '') ? 0 : $('#ddlPage').val();

            $.post('/Admin/Admin/GetPage',
                {
                    iPageId: pageid
                },
                function (data) {

                    $('#txtPageTitle').val(data.PageTitle);
                    $('#txtDesc').val(data.Description);
                }
            );
        }

    </script>
}
