@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
<table id="tblGrid">
</table>
<div id="pager">
</div>
@section scripts {
    @(Html.Grid("tblGrid")
    .SetCaption("User Master")
    .AddColumn(new Column("Action").SetCustomFormatter("buttonize").SetWidth(75).SetSearch(false))
    .AddColumn(new Column("customerid").SetHidden(true).AddClass("Hide"))
    .AddColumn(new Column("customername").SetLabel("Customer Name").SetSearchType(Searchtype.Select))
    .AddColumn(new Column("emailaddress").SetLabel("Email ID"))
    .AddColumn(new Column("rolename").SetLabel("Role").SetSearchType(Searchtype.Select))
    .AddColumn(new Column("firstname").SetLabel("First Name"))
    .AddColumn(new Column("lastname").SetLabel("Last Name"))
    .AddColumn(new Column("dob").SetLabel("Date of Birth").SetSearchType(Searchtype.Datepicker).AddClass("psegriddatepickerpast"))
    .AddColumn(new Column("Location"))
    .AddColumn(new Column("Address"))
    .AddColumn(new Column("City"))
    .AddColumn(new Column("State"))
    .AddColumn(new Column("ZIP").SetAlign(Align.Right))
    .AddColumn(new Column("phonenumber").SetLabel("Phone Number").SetAlign(Align.Right))
    .AddColumn(new Column("timezone").SetLabel("Time Zone"))
    .AddColumn(new Column("Department"))
    .AddColumn(new Column("Division"))
    .AddColumn(new Column("accountnumber").SetLabel("Account Number").SetAlign(Align.Right))
    .AddColumn(new Column("defaultaccountnumber").SetLabel("Default Account Number").SetAlign(Align.Right))
    .AddColumn(new Column("adjustdst").SetLabel("Adjust DST").SetSearchType(Searchtype.Select).SetSearchTerms(new string[] { "Yes:Yes", "No:No" }))
    .AddColumn(new Column("Status").SetSearchType(Searchtype.Select).SetSearchTerms(new string[] { "1:Active", "0:Inactive" }))
    .SetUrl(Url.Action("GridDataWebUser", "Admin"))
    .SetPager("pager")
    .SetSearchOnEnter(false)
    .SetHeight(290)
    .SetWidth(360)
    .SetSortName("customername")
    )
    <script type="text/javascript">

        $(document).ready(function () {

            try {
                var tool = "<ul class='nav nav-pills'>" +
                                "<li><a onclick=\"AddItem();\" title='Add New' href='#'>Add New</a></li>" +
                               "<li><a onclick=\"DeleteSelectedItem();\" title='Delete Multiple Item' href='#'>Delete</a></li>" +
                                "<li class='dropdown'><a title='Export' class='dropdown-toggle' data-toggle='dropdown' href='#'>Export <b class='caret'></b></a>" +
                                    "<ul class='dropdown-menu'>" +
                                      "<li><a onclick=\"ExportWebUser('PDF');\" title='PDF' href='#'>PDF</a></li>" +
                                        "<li><a onclick=\"ExportWebUser('CSV');\" title='CSV' href='#'>CSV</a></li>" +
                                        "<li><a onclick=\"ExportWebUser('Excel');\" title='Excel' href='#'>Excel</a></li>" +
                                         "<li><a onclick=\"ExportWebUser('Word');\" title='Word' href='#'>Word</a></li>" +
                                         "<li><a onclick=\"PrintWebUser();\" title='Print' href='#'>Print</a></li>" +
                                    "</ul>" +
                                "</li>" +
                            "</ul>";

                // enable tool bar in grid
                $('#t_tblGrid').append(tool);

                //frozen or lock the columns
                $("#tblGrid").jqGrid('setColProp', 'Action', { frozen: true });
                jQuery("#tblGrid").jqGrid('setFrozenColumns');

                jQuery("#tblGrid").jqGrid('setColProp', 'Location', { searchoptions: {
                    dataInit: function (el) {
                        $(el).datepicker(
                        {
                            changeYear: true,
                            onSelect: function () {
                                alert('hi');
                                var sgrid = $('#tblGrid')[0];
                                sgrid.triggerToolbar();
                            },
                            dateFormat: 'mm/dd/yy'
                        });
                    } //data init
                }//search option 
                }); // set col prop

                //bind customers list to search
                var customer = '@Html.BindCustomers()';
                $("#gs_customername").html('<option value="">All</option>' + customer);

                //load complete event hanlder
                LoadComplete('tblGrid');

                //change event for customer search 
                $("#gs_customername").bind('change', function () {

                    //selected customer id
                    $('#hdnSelectedCustomerId').val($("#gs_customername").val());

                    //append the role  - grid dropdown
                    BindRoleGrid($("#gs_customername").val());

                });

                //jqGrid hide column dynamically
                var CustomerId = $('#hdnCustomerId').val();
                if (CustomerId != '1') {

                    //append the role  - grid dropdown
                    BindRoleGrid(CustomerId);

                    //hide columns  
                    HideGridColumn('tblGrid', ['customername'])
                }

                //hide and show column option - runtime
                GridColumnChooser('tblGrid');

                ReloadGrid('tblGrid');

            }
            catch (e) {
                ScriptError(e);
            }

        });

        function buttonize(cellvalue, options, rowobject) {
            return "<ul class='the-icons'>" +
                        "<li title='Delete' onclick=\"DeleteItem(" + cellvalue + ");\"><i class='icon-remove'></i></li>" +
                        "<li title='Edit' onclick=\"EditItem(" + cellvalue + ");\"><i class='icon-edit'></i></li>" +
                    "</ul>"
        }

        //bind roles in grid dropdown
        function BindRoleGrid(customerId) {
            //append the role 
            $.post('/Home/BindRole', { iCustomerId: customerId }, function (roles) {
                $("#gs_rolename").html('<option value="">All</option>' + roles);
            });
        }

        function ExportWebUser(exportType) {

            GenerateExportParam('tblGrid');
            exportGrid.ExportType = exportType;

            var form = $('<form></form>');
            $('body').append(form);
            form.attr('action', '/Admin/Admin/ExportWebUser' + '?model=' + JSON.stringify(exportGrid));
            form.attr('method', 'POST');
            form.submit();
        }

        function PrintWebUser() {

            //build the param 
            GenerateExportParam('tblGrid')

            $.post("PrintWebUser",
                                {
                                    model: JSON.stringify(exportGrid)
                                },
                                function (data) {
                                    try {
                                        if (data == "") {
                                            AlertError('Could not able to Print, please try again');
                                            return;
                                        }

                                        var printWin = window.open('', '', 'left=0" ,top=0,width=1000,height=600,status=0');
                                        printWin.document.write(data);

                                        printWin.document.close();
                                        printWin.focus();
                                        printWin.print();
                                        printWin.close();

                                    }
                                    catch (e) {
                                        ScriptDialogError(e);
                                    }

                                }
                            );

        }

        // Dialog Modal - Add New Entry
        function AddItem() {
            try {
                // clear edit and add view
                ClearDialog();

                // Dialogs window for add
                $("#dialog-add").dialog({
                    title: 'Add New',
                    autoOpen: false,
                    resizable: true,
                    width: winWidth,
                    height: winHeight,
                    position: 'center',
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $.post("CreateWebUser", {},
                                function (data) {
                                    try {
                                        if (data == "") {
                                            CloseDialog();
                                            AlertError('Page could not load, please try again');
                                            return;
                                        }

                                        $('#dialog-add').html(data.view);
                                        var CustomerId = $('#hdnSelectedCustomerId').val();
                                        $('#ddlCustomer').val(CustomerId).change();

                                    }
                                    catch (e) {
                                        ScriptDialogError(e);
                                    }
                                }
                            );
                    },
                    close: function (event, ui) {
                        CloseDialog();
                    }
                });

                //open dialog
                OpenDialog();
                return false;

            }
            catch (e) {
                ScriptError(e);
            }
        }

        // Dialog - Edit Entry
        function EditItem(prmId) {
            try {
                // clear edit and add view
                ClearDialog();

                // dialgo window for edit
                $("#dialog-add").dialog({
                    title: 'Edit',
                    autoOpen: false,
                    resizable: true,
                    width: winWidth,
                    height: winHeight,
                    position: 'center',
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {

                        $.post("EditWebUserId",
                                {
                                    iWebUserId: prmId
                                },
                                function (data) {
                                    try {
                                        if (data == "") {
                                            CloseDialog();
                                            AlertError('Page could not load, please try again');
                                            return;
                                        }

                                        $('#dialog-add').html(data.view);

                                        //Do something with the data returned.
                                        $('#hdnWebUserId').val(data.model.webuserid);
                                        $('#ddlCustomer').val(data.model.customerid).attr('disabled', 'disabled').change();
                                        $('#ddlRole').val(data.model.roleid).change();

                                        $('#txtEmailId').val(data.model.emailaddress);
                                        $('#txtEmailId').attr('disabled', 'disabled');

                                        if (model.authorizedaccountids != null)
                                            $('#ddlAccountNumber').selectpicker('val', model.authorizedaccountids.split(",")).change(); ;

                                        //$('#ddlAccountNumber').selectpicker('val', [137, 291, 292, 293]).change();
                                        $('#ddlDefaultAccountNumber').val(model.defaultaccountid).change();

                                        if (data.model.personid != null)
                                            $('#hdnPersonId').val(data.model.personid);

                                        $('#txtFName').val(data.model.firstname);
                                        $('#txtLName').val(data.model.lastname);


                                        $('#txtDOB').val(data.model.dob.toPSEDate());
                                        $('#txtPhone').val(data.model.phonenumber);

                                        if (data.model.locationid != null)
                                            $('#hdnLocationId').val(data.model.locationid);

                                        $('#txtLocation').val(data.model.locationname);
                                        $('#txtAddress').val(data.model.address);
                                        $('#txtCity').val(data.model.city);
                                        $('#ddlState').val(data.model.state);
                                        $('#ddlState').selectpicker('refresh');
                                        $('#txtZip').val(data.model.zip);


                                        $('#ddlTimeZone').val(data.model.timezoneid);

                                        //edit - lookup, text = valuefield, value = textfield
                                        $('#txtDepartment').attr('text', data.model.customerdepartmentid).val(data.model.departmentname);

                                        $('#txtDivision').attr({ 'text': data.model.customerdivisionid, 'value': data.model.divisionname });

                                        //                                if (data.model.adjustfordst == 'Yes')
                                        //                                    $('#rbDSTYes').attr('checked', 'checked');
                                        //                                else if (data.model.adjustfordst == 'No')
                                        //                                    $('#rbDSTNo').attr('checked', 'checked');

                                        $('input[name=rbDST][value=' + data.model.adjustfordst + ']').attr('checked', 'checked');

                                        if (data.model.isactive == '1')
                                            $('#rbStatusActive').attr('checked', 'checked');
                                        else if (data.model.Status == '0')
                                            $('#rbStatusInActive').attr('checked', 'checked');
                                    }
                                    catch (e) {
                                        ScriptDialogError(e);
                                    }

                                }
                            );
                    },
                    close: function (event, ui) {
                        CloseDialog();
                    }
                });

                //open dialog
                OpenDialog();
                return false;

            }
            catch (e) {
                ScriptError(e);
            }
        }

        // add and edit item
        function CreateEditItem(command) {
            try {
                model.webuserid = $('#hdnWebUserId').val();
                model.customerid = $('#ddlCustomer').val();
                model.roleid = $('#ddlRole').val();
                model.emailaddress = $('#txtEmailId').val();

                var selMulti = $.map($('#ddlAccountNumber').val(), function (el, i) {
                    return el;
                });
                model.authorizedaccountids = selMulti.join(", ");

                model.defaultaccountid = $('#ddlDefaultAccountNumber').val();

                model.personid = $('#hdnPersonId').val();
                model.firstname = $('#txtFName').val();
                model.lastname = $('#txtLName').val();
                model.dob = $('#txtDOB').val();
                model.phonenumber = $('#txtPhone').val();

                model.locationid = $('#hdnLocationId').val();
                model.locationname = $('#txtLocation').val();
                model.address = $('#txtAddress').val();
                model.city = $('#txtCity').val();
                model.state = $('#ddlState').val();
                model.zip = $('#txtZip').val();
                model.timezoneid = $('#ddlTimeZone').val();

                //get lookup value field
                model.customerdepartmentid = $('#txtDepartment').attr('text');
                model.customerdivisionid = $('#txtDivision').attr('text');

                model.adjustfordst = $('input[name=rbDST]:checked').text();
                model.isactive = $('input[name=rbStatus]:checked').val();


                //Pass it to a controller method
                $.post("CreateEditWebUser",
                {
                    viewModel: JSON.stringify(model),
                    sCommand: command
                },
                function (data) {

                    if (data.result == "fail") {
                        CloseDialog();
                        AlertError(data.message);
                        return;
                    }


                    //refress the grid again
                    ReloadGrid('tblGrid');

                    if (command == 'Add') {
                        ClearUserForm();
                        AlertDialogSuccess(data.message);
                    }
                    else {
                        CloseDialog();
                        AlertMsg(data.message);
                    }

                });
            }
            catch (e) {
                ScriptDialogError(e);
            }
        }

        //clear the form fields
        function ClearUserForm() {
            try {

                //reset to - selected customer
                $('#ddlCustomer').val($('#hdnSelectedCustomerId').val()).change();

                //clear hidden ctrl = 0
                $('#webUserForm input[type=hidden]').each(function () {
                    $(this).val('0');
                });

                //clear text ctrl = 0
                $('#webUserForm input[type=text]').each(function () {
                    $(this).val('');
                });
                $('#webUserForm input[type=password]').each(function () {
                    $(this).val('');
                });

                //drop down controls
                $("#webUserForm select[name != 'ddlCustomer']").each(function () {
                    $(this)[0].selectedIndex = 0;
                    $(this).change();
                });

                //ClearLookup('txtDepartment,txtDivision');
                $("#txtDepartment").attr({ text: '0', value: '', selectedrow: '' });
                $("#txtDivision").attr({ text: '0', value: '', selectedrow: '' });

                $('#rbStatusActive').attr('checked', 'checked');
                $('#rbDSTYes').attr('checked', 'checked');

            }
            catch (e) {
                ScriptDialogError(e);
            }
        }

        // Dialog - Delete Entry
        function DeleteItem(prmId) {
            Confirmation('Are you sure to delete?', prmId);
        }

        //Delete selected item
        function DeleteSelectedItem() {
            //get selected rows
            var selMulti = $.map($('#tblGrid').jqGrid('getGridParam', 'selarrrow'), function (el, i) {
                return el;
            });
            if (selMulti.length > 0)
                DeleteItem(selMulti.toString());
            else
                AlertMsg('Please select the Item');
        }
        // status - true - click yes, false - click no
        function CallbackConfirmation(status, prmId) {
            if (status) {
                $.post('DeleteWebUser', { iWebUserId: prmId }, function (data) {

                    if (data.result == "fail") {
                        AlertError(data.message);
                        return;
                    }

                    //refress the grid again
                    ReloadGrid('tblGrid');
                    AlertMsg(data.message);

                });


            }
        }

        function ChangeCustomer() {

            var customerid = ($('#ddlCustomer').val() == '') ? '0' : $('#ddlCustomer').val();
            //if (customerid != '0') {
            $('#ddlRole').html('');

            //append the role 
            $.ajax({
                type: 'POST',
                url: '/Home/BindRole',
                data: { iCustomerId: customerid },
                async: false,
                success: function (roles) {
                    try {
                        $('#ddlRole').html('<option value="">Select Role</option>' + roles).change();
                    }
                    catch (e) {
                        ScriptDialogError(e);
                    }
                }
            });

            //append account number 
            $('#ddlAccountNumber').html('');
            $.ajax({
                type: 'POST',
                url: '/Home/BindAccount',
                data: { iCustomerId: customerid },
                async: false,
                success: function (account) {
                    try {
                        $('#ddlAccountNumber').html(account).change();
                        //$('#ddlAccountNumber').selectpicker('deselectAll');
                        //$('#ddlAccountNumber').selectpicker('refresh');
                    }
                    catch (e) {
                        ScriptDialogError(e);
                    }
                }
            });

            //append active account number 
            $('#ddlDefaultAccountNumber').html('');
            $.ajax({
                type: 'POST',
                url: '/Home/BindActiveAccount',
                data: { iCustomerId: customerid },
                async: false,
                success: function (activeaccount) {
                    try {
                        $('#ddlDefaultAccountNumber').html(activeaccount).change();
                    }
                    catch (e) {
                        ScriptDialogError(e);
                    }
                }
            });

            //}
        }


    </script>
}
