@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
<table id="tblGrid">
</table>
<div id="pager">
</div>
@section scripts {
    @(Html.Grid("tblGrid")
    .SetCaption("Customer Master")
    .AddColumn(new Column("Action").SetCustomFormatter("buttonize").SetWidth(75).SetSearch(false))
                            .AddColumn(new Column("customername").SetLabel("Customer Name"))
                            .AddColumn(new Column("cutofftime").SetLabel("Cut-Off Time"))
            .AddColumn(new Column("isactive").SetLabel("Status").SetSearchType(Searchtype.Select).SetSearchTerms(new string[] { "1:Active", "0:InActive" }))
            .AddColumn(new Column("createddate").SetLabel("Created Date").SetSearchType(Searchtype.Datepicker).SetSearchDateFormat("mm/dd/yy"))
            .AddColumn(new Column("lastchangeddate").SetLabel("Last Changed Date").SetSearchType(Searchtype.Datepicker).SetSearchDateFormat("mm/dd/yy"))
            .AddColumn(new Column("username").SetLabel("Last Changed User"))
            .SetUrl(Url.Action("GridDataCustomer", "Home"))
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new[] { 10, 15, 20, 50 })
    .SetViewRecords(true)
    .SetPager("pager")
    .SetHeight(290)
    .SetWidth(450)
    .SetSearchToolbar(true)
    .SetSearchOnEnter(false)
    .SetSearchClearButton(true)
    .SetSearchToggleButton(true)
    .SetMultiSelect(true)
    .SetMultiBoxOnly(false)
    .SetMultiSelectWidth(40)
    .SetToolbar(true)
    .SetToolbarPosition(ToolbarPosition.Top)
    .SetHoverRows(true)
    .SetAltRows(true)
    .SetShrinkToFit(false)
                            )
    <script type="text/javascript">

        $(document).ready(function () {

            try {
                var tool = "<ul class='nav nav-pills'>" +
                                "<li><a onclick=\"AddItem();\" title='Add New' href='#'>Add New</a></li>" +
                               "<li><a onclick=\"DeleteSelectedItem();\" title='Delete Selected Item' href='#'>Delete Selected Customer</a></li>" +
//                                "<li class='dropdown'><a title='Export' class='dropdown-toggle' data-toggle='dropdown' href='#'>Export <b class='caret'></b></a>" +
//                                    "<ul class='dropdown-menu'>" +
//                                        "<li><a onclick=\"ExportItem('PDF');\" title='PDF' href='#'>PDF</a></li>" +
//                                        "<li><a onclick=\"ExportItem('CSV');\" title='CSV' href='#'>CSV</a></li>" +
//                                        "<li><a onclick=\"ExportItem('Excel');\" title='Excel' href='#'>Excel</a></li>" +
//                                         "<li><a onclick=\"ExportItem('Word');\" title='Word' href='#'>Word</a></li>" +
//                                         "<li><a onclick=\"PrintItem();\" title='Print' href='#'>Print</a></li>" +
//                                    "</ul>" +
//                                "</li>" +
                            "</ul>";

                // enable tool bar in grid
                $('#t_tblGrid').append(tool);

                //frozen or lock the columns
                $("#tblGrid").jqGrid('setColProp', 'Action', { frozen: true });
                jQuery("#tblGrid").jqGrid('setFrozenColumns');

                //load complete event hanlder - no record found-search
                LoadComplete('tblGrid');

                //hide and show column option - runtime
                GridColumnChooser('tblGrid');

                ReloadGrid('tblGrid');
            }
            catch (e) {
                ScriptError(e);
            }

        });

        function buttonize(cellvalue, options, rowobject) {
            return "<ul class='the-icons'>" +
                        "<li title='Delete' onclick=\"DeleteItem(" + cellvalue + ");\"><i class='icon-remove'></i></li>" +
                        "<li title='Edit' onclick=\"EditItem(" + cellvalue + ");\"><i class='icon-edit'></i></li>" +
                    "</ul>"
        }

        function ExportItem(exportType) {

            GenerateExportParam('tblGrid');
            exportGrid.ExportType = exportType;

            var form = $('<form></form>');
            $('body').append(form);
            form.attr('action', '/Home/Home/ExportCustomer' + '?model=' + JSON.stringify(exportGrid));
            form.attr('method', 'POST');
            form.submit();
        }

        function PrintItem() {

            //build the param 
            GenerateExportParam('tblGrid')

            $.post("PrintCustomer",
                                {
                                    model: JSON.stringify(exportGrid)
                                },
                                function (data) {
                                    try {
                                        if (data == "") {
                                            AlertError('Could not able to Print, please try again');
                                            return;
                                        }

                                        var printWin = window.open('', '', 'left=0" ,top=0,width=1000,height=600,status=0');
                                        printWin.document.write(data);

                                        printWin.document.close();
                                        printWin.focus();
                                        printWin.print();
                                        printWin.close();

                                    }
                                    catch (e) {
                                        ScriptDialogError(e);
                                    }

                                }
                            );

        }

        // Dialog Modal - Add New Entry
        function AddItem() {
            try {
                // clear edit and add view
                ClearDialog();

                // Dialogs window for add
                $("#dialog-add").dialog({
                    title: 'Customer',
                    autoOpen: false,
                    resizable: true,
                    width: 700,
                    height: 500,
                    position: 'center',
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $.post("CreateCustomer", {},
                                function (data) {
                                    try {
                                        if (data == "") {
                                            CloseDialog();
                                            AlertError('Page could not load, please try again');
                                            return;
                                        }

                                        //render the pop-up window
                                        $('#dialog-add').html(data.view);
                                    }
                                    catch (e) {
                                        ScriptDialogError(e);
                                    }
                                }
                            );
                    },
                    close: function (event, ui) {
                        CloseDialog();
                    }
                });

                //open dialog
                OpenDialog();
                return false;

            }
            catch (e) {
                ScriptError(e);
            }
        }

        // Dialog - Edit Entry
        function EditItem(prmId) {
            try {
                // clear edit and add view
                ClearDialog();

                // dialgo window for edit
                $("#dialog-add").dialog({
                    title: 'Customer',
                    autoOpen: false,
                    resizable: true,
                    width: 700,
                    height: 500,
                    position: 'center',
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {

                        $.post("EditCustomerId",
                                {
                                    iId: prmId
                                },
                                function (data) {
                                    try {
                                        if (data == "") {
                                            CloseDialog();
                                            AlertError('Page could not load, please try again');
                                            return;
                                        }

                                        $('#dialog-add').html(data.view);

                                        //Do something with the data returned.
                                        data.model = JSON.parse(data.model)[0];
                                        $('#hdnId').val(data.model.customerid);
                                        $('#txtCustomer').val(data.model.customername);
                                        $('#txtCutoffTime').val(data.model.cutofftime);

                                        if (data.model.isactive == "true")
                                            $('#rbStatusActive').attr('checked', 'checked');
                                        else if (data.model.isactive == "false")
                                            $('#rbStatusInActive').attr('checked', 'checked');
                                    }
                                    catch (e) {
                                        ScriptDialogError(e);
                                    }

                                }
                            );
                    },
                    close: function (event, ui) {
                        CloseDialog();
                    }
                });

                //open dialog
                OpenDialog();
                return false;

            }
            catch (e) {
                ScriptError(e);
            }
        }

        // add and edit item
        function CreateEditCustomer(command) {
            try {

                //Do something with the data returned.
                model.customerid = $('#hdnId').val();
                model.customername = $('#txtCustomer').val();
                model.cutofftime = $('#txtCutoffTime').val();
                model.isactive = $('input[name=rbStatus]:checked').val();

                //Pass it to a controller method
                $.post("CreateEditCustomer",
                {
                    viewModel: JSON.stringify(model),
                    sCommand: command
                },
                function (data) {

                    if (data.result == "fail") {
                        CloseDialog();
                        AlertError(data.message);
                        return;
                    }


                    //refress the grid again
                    ReloadGrid('tblGrid');

                    if (command == 'Add') {
                        ClearClliForm();
                        AlertDialogSuccess(data.message);
                    }
                    else {
                        CloseDialog();
                        AlertMsg(data.message);
                    }

                });
            }
            catch (e) {
                ScriptDialogError(e);
            }
        }

        //clear the form fields
        function ClearClliForm() {
            try {

                //clear hidden ctrl = 0
                $('#frmCustomer input[type=hidden]').each(function () {
                    $(this).val('0');
                });

                //clear text ctrl = 0
                $('#frmCustomer input[type=text]').each(function () {
                    $(this).val('');
                });

                //drop down controls
                $('#frmCustomer select').each(function () {
                    $(this)[0].selectedIndex = 0;
                    $(this).change();
                });

            }
            catch (e) {
                ScriptDialogError(e);
            }
        }

        // Dialog - Delete Entry
        function DeleteItem(prmId) {
            Confirmation('Are you sure to delete?', prmId);
        }

        //delete selected item
        function DeleteSelectedItem() {
            //get selected rows
            var selMulti = $.map($('#tblGrid').jqGrid('getGridParam', 'selarrrow'), function (el, i) {
                return el;
            });
            if (selMulti.length > 0)
                DeleteItem(selMulti.toString());
            else
                AlertMsg('Please select the Item');
        }
        // status - true - click yes, false - click no
        function CallbackConfirmation(status, prmId) {
            if (status) {
                $.post('DeleteCustomer', { sIds: prmId }, function (data) {

                    if (data.result == "fail") {
                        AlertError(data.message);
                        return;
                    }

                    //refress the grid again
                    ReloadGrid('tblGrid');
                    AlertMsg(data.message);

                });


            }
        }


    </script>
}

