@Html.Partial("_Dialog")
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnSave').bind('click', function () {

            // Force validation to reevaluate next time
            var inputs = $('#frmChangePwd').find(":input");
            inputs.removeData("previousValue");
            $('#frmChangePwd').valid();

            resultValation = $('#frmChangePwd').validate();

            timerValidation = $.timer(function () {

                if (resultValation.pendingRequest == 0) {
                    timerValidation.stop();
                    if ($('#frmChangePwd').valid())
                        $.post("/Account/ConfirmChangeUserPassword",
                            {
                                sOldPwd: $('#oldPassword').val(), sNewPwd: $('#newPassword').val(), sQus: $('#ddlQuestion option:selected').text(), sAns: $('#txtAnswer').val()
                            },
                            function (data) {

                                AlertDialogSuccess(data);
                                $("#btnCancel").click();
                            }
                        );

                }
            }, 1000, true);

        });


        $("#btnCancel").bind("click", function (e) {

            $('#frmChangePwd input').each(function () {
                $(this).val('');
            });

            $('#ddlQuestion').val('');
            $('#ddlQuestion').selectpicker('refresh');

        });

    }); 
    
</script>
<form id="frmChangePwd" class="form-horizontal">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label" for="oldPassword">
                Old Password
            </label>
            <div class="controls">
                <input data-val="true" data-val-required="The Old Password field is required." id="oldPassword"
                    name="oldPassword" type="password" />
                <label class="field-validation-valid" data-valmsg-for="oldPassword" data-valmsg-replace="true">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="newPassword">
                New Password
            </label>
            <div class="controls">
                <input data-val="true" data-val-required="The New Password field is required." data-val-length="Password minimum 6 character length"
                    data-val-length-min="6" 
                    @*data-val-digits="Password must contain 8 characters and be a combination of letters, number and one special character – example: *, &, !"
                    data-val-regex="Password should contain at least one number." 
                    data-val-regex-pattern="\d+"
                    data-val-regex="Password should contain at least one special character." 
                    data-val-regex-pattern="/^[a-zA-Z0-9!#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]*$/"*@
                    id="newPassword" name="newPassword" type="password" />
                <label class="field-validation-valid" data-valmsg-for="newPassword" data-valmsg-replace="true">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="confirmPassword">
                Confirm Password
            </label>
            <div class="controls">
                <input data-val="true" data-val-required="The Confirm Password field is required."
                    data-val-equalto="New and Confirm password Should Match" data-val-equalto-other="newPassword"
                    id="confirmPassword" name="confirmPassword" type="password" />
                <label class="field-validation-valid" data-valmsg-for="confirmPassword" data-valmsg-replace="true">
                </label>
            </div>
        </div>
        @Html.Partial("_SecurityQandA",true)
        @Html.Partial("_SubmitClear")
    </div>
</div>
</form>
@Html.Partial("_Alert")
