@Html.Partial("_Dialog")
<script type="text/javascript">
    $(document).ready(function () {
        var sAnswer = '';
        $('#btnSave').bind('click', function () {

            // Force validation to reevaluate next time
            var inputs = $('#frmForgetPwd').find(":input");
            inputs.removeData("previousValue");
            $('#frmForgetPwd').valid();

            resultValation = $('#frmForgetPwd').validate();

            timerValidation = $.timer(function () {

                if (resultValation.pendingRequest == 0) {
                    timerValidation.stop();
                    if ($('#frmForgetPwd').valid())
                        $.post("/Account/ConfirmForgetPassword",
                            {
                                sEmailId: $('#txtEmailId').val(),
                                sQue: $('#ddlQuestion option:selected').text(),
                                sAns: $('#txtAnswer').val()
                            },
                            function (data) {

                                AlertDialogSuccess(data);
                                $("#btnCancel").click();
                            }
                        );

                }
            }, 1000, true);

        });


        $("#btnCancel").bind("click", function (e) {

            $('#frmForgetPwd input').each(function () {
                $(this).val('');
            });

            $('#ddlQuestion').val('');
            $('#ddlQuestion').selectpicker('refresh');

        });

        //get question
        $("#txtEmailId").bind("focusout", function (e) {

            if ($('#txtEmailId').val() != '') {
                $.post("/Account/GetSecurityQuestions",
                            {
                                sEmailId: $('#txtEmailId').val()
                            },
                            function (data) {

                                $('#ddlQuestion').val(data.secquestion).change();
                                $('#ddlQuestion').attr('disabled', 'disabled');
                                $('#ddlQuestion').selectpicker('refresh');

                                sAnswer = data.secquestion;
                            }
                        );
            }

        });

    }); 
    
</script>
<form id="frmForgetPwd" class="form-horizontal">
<div class="container-fluid">
    <div class="row-fluid">
       <div class="control-group">
            <label class="control-label" for="txtEmailId">
                Email ID</label>
            <div class="controls">
                <input data-val="true" data-val-remote="Email Id is not exists." 
                        data-val-remote-url="/Validation/IsNotExists" data-val-required="The Email ID field is required." 
                        data-val-remote-additionalfields="tablename,columnname,columnvalue"
                        data-val-remote-columnname="emailaddress" 
                        data-val-remote-tablename="tblwebuser"
                        data-val-remote-columnvalue="txtEmailId" 
                        id="txtEmailId" name="txtEmailId" class="email" type="text" />
                 <label class="field-validation-valid" data-valmsg-for="txtEmailId" data-valmsg-replace="true"></label>
            </div>
        </div>
        @Html.Partial("_SecurityQandA", false)
        @Html.Partial("_SubmitClear")
    </div>
</div>
</form>
@Html.Partial("_Alert")
