<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML Transitional//EN"><META http-equiv="Content-Type" content="text/html; charset=utf-8">

<html>
<head><style>
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
{
	display: block;
}
html
{
	font-size: 100%;
	-ms-text-size-adjust: 100%;
}
img
{
	width: auto;
	height: auto;
	vertical-align: middle;
	border-top-color: currentColor;
	border-right-color: currentColor;
	border-bottom-color: currentColor;
	border-left-color: currentColor;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
}
body
{
	color: #333333;
	line-height: 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: rgb(255, 255, 255);
}
a
{
	color: #0088cc;
	text-decoration: none;
}
p
{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
strong
{
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6
{
	color: inherit;
	line-height: 20px;
	font-family: inherit;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
h4
{
	font-size: 17.5px;
}
ul, ol
{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 25px;
}
li
{
	line-height: 20px;
}
ul.unstyled, ol.unstyled
{
	margin-left: 0px;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
}
dl
{
	margin-bottom: 20px;
}
dt, dd
{
	line-height: 20px;
}
dt
{
	font-weight: bold;
}
dd
{
	margin-left: 10px;
}
.dl-horizontal::before, .dl-horizontal::after
{
	line-height: 0;
	display: table;
	content: "";
}
.dl-horizontal::after
{
	clear: both;
}
.dl-horizontal dt
{
	width: 160px;
	text-align: right;
	overflow: hidden;
	clear: left;
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.dl-horizontal dd
{
	margin-left: 180px;
}
abbr[title], abbr[data-original-title]
{
	border-bottom-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	cursor: help;
}
address
{
	line-height: 20px;
	font-style: normal;
	margin-bottom: 20px;
	display: block;
}

</style></head>


<body><section class="contact">
    <header>
        
<h4>
 Your web account for the Ordering system has been created.
</h4>

        <strong>Your login details are as follows:</strong><br />
    </header>
    
<p>
 
         
</p>
<dl class="dl-horizontal">
 
           
 <dt>
  URL :
 </dt>
 
           
 <dd>
  <a href="http://12.175.31.136:8081/" target="_blank">http://12.175.31.136:8081/</a>
 </dd>
 
           
 <dt>
  Logon email :
 </dt>
 
           
 <dd>
  <a href="@ViewData["MailTo"]">@ViewData["MailTo"]</a>
 </dd>
 
           
 <dt>
  Password :
 </dt>
 
           
 <dd>
  <strong>@ViewData["Password"]</strong>
 </dd>
 
         
</dl>


    
<p></p>

    
<p>
 
         
</p>
<ul class="unstyled">
 
           
 <li>
  Once you access the system, you will be asked to create a new password as well as two security questions with answers.
 </li>
 
           
 <li>
  In case you forget the password and want to reset the password, you have to validate your credentials with the same answers when prompted.
 </li>
 
         
</ul>

    
<p></p>

    <br />
    
<p>
 
         
</p>
<ul class="unstyled">
 
           
 <li>
  If you have any questions or concerns please contact PS Energy's customer service department at:
 </li>
 
           
 <li>
  
              <b><a href="mailto:#">customerservice@psenergy.com</a> &nbsp;&nbsp;
              <abbr title="Phone">P:&nbsp;&nbsp;</abbr>1-800-334-7548</b>
            
 </li>
 
           
 <li>
  <br />
 </li>
 
           
 <li>
  This is an auto generated mail. So please don't reply to this mail.
 </li>
 
         
</ul>

        
    
<p></p>

</section>
<img src="http://www.psenergy.com/DEMO/images/littleglobe.gif" />
<address>
 
     <strong>PS Energy Group</strong><br />
     
     <abbr title="Phone">
         P:</abbr>
     1-800-334-7548 &nbsp;&nbsp;
     <abbr title="Fax">
         F:</abbr>
     770-391-1928
</address>

</body>

</html>