<div class="control-group">
    <label class="control-label" for="rbStatus">
        Status</label>
    <div class="controls">
        <label class="radio">
            <input type="radio" name="rbStatus" id="rbStatusActive" value="1" checked="checked" />
            Active
        </label>
        <label class="radio">
            <input type="radio" name="rbStatus" id="rbStatusInActive" value="0" />
            Inactive
        </label>
    </div>
</div>
