<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-DMS-20130529110224;Integrated Security=SSPI" />
  <add name="MVCEFEntities" connectionString="metadata=res://*/DMSDatabase.csdl|res://*/DMSDatabase.ssdl|res://*/DMSDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.40.195;initial catalog=DMSWeb;persist security info=True;user id=sa;password=totuccio;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ErrorLogConnectionString" connectionString="Data Source=192.168.40.195;Initial Catalog=DMSWeb;persist security info=True;user id=sa;password=totuccio;"
        providerName="System.Data.SqlClient" />
</connectionStrings>
