<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=MALLIKA\SQLEXPRESS;Initial Catalog=Ordering;persist security info=True;user id=sa;password=mallika67;" />
  <add name="MVCEFEntities" connectionString="metadata=res://*/MVCDatabase.csdl|res://*/MVCDatabase.ssdl|res://*/MVCDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MALLIKA\SQLEXPRESS;initial catalog=Ordering;persist security info=True;user id=sa;password=mallika67;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ErrorLogConnectionString" connectionString="Data Source=MALLIKA\SQLEXPRESS;Initial Catalog=Ordering;persist security info=True;user id=sa;password=mallika67;" providerName="System.Data.SqlClient" />
  <add name="FMWebConnectionString" connectionString="Data Source=MALLIKA\SQLEXPRESS;Initial Catalog=Ordering;persist security info=True;user id=sa;password=mallika67;" providerName="System.Data.SqlClient" />-->

  <!--live
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=IDCSQL2.znetlive.com,1234;Initial Catalog=Ordering;persist security info=True;user id=asaf_admin;password=ASAFAdmin@12;" />
  <add name="MVCEFEntities" connectionString="metadata=res://*/MVCDatabase.csdl|res://*/MVCDatabase.ssdl|res://*/MVCDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IDCSQL2.znetlive.com,1234;initial catalog=Ordering;persist security info=True;user id=asaf_admin;password=ASAFAdmin@12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ErrorLogConnectionString" connectionString="Data Source=IDCSQL2.znetlive.com,1234;Initial Catalog=Ordering;persist security info=True;user id=asaf_admin;password=ASAFAdmin@12;" providerName="System.Data.SqlClient" />
  <add name="FMWebConnectionString" connectionString="Data Source=IDCSQL2.znetlive.com,1234;Initial Catalog=Ordering;persist security info=True;user id=asaf_admin;password=ASAFAdmin@12;" providerName="System.Data.SqlClient" />
-->
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=111.223.70.148;Initial Catalog=Ordering;persist security info=True;user id=sa;password=itzybit$123;" />
  <add name="MVCEFEntities" connectionString="metadata=res://*/MVCDatabase.csdl|res://*/MVCDatabase.ssdl|res://*/MVCDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=111.223.70.148;initial catalog=Ordering;persist security info=True;user id=sa;password=itzybit$123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ErrorLogConnectionString" connectionString="Data Source=111.223.70.148;Initial Catalog=Ordering;persist security info=True;user id=sa;password=itzybit$123;" providerName="System.Data.SqlClient" />
  <add name="FMWebConnectionString" connectionString="Data Source=111.223.70.148;Initial Catalog=Ordering;persist security info=True;user id=sa;password=itzybit$123;" providerName="System.Data.SqlClient" />
  
</connectionStrings>

